<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "DrupalJam 2016" %></title>

    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto+Slab:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <div class="footer-wrapper">
      <section class="footer"><div class="section-inner">
        <span class="sdn"></span>

        <p>
          DrupalJam wordt georganiseerd door 
          <a href="http://stichtingdrupal.nl/" target="_blank">Stichting Drupal Nederland</a>
          en een
          <%= link_to 'team van vrijwilligers', '/colofon.html' %>
          uit de Nederlandse Drupal gemeenschap.
        </p>

        <p class="social">
          <a href="https://www.facebook.com/groups/drupaljam/" class="facebook" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a> 
          <a href="https://twitter.com/DrupalJam" class="twitter" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
        </p>
      </div></section>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <%= javascript_include_tag :all %>
  </body>
</html>
