<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <meta property="og:title" content="DrupalJam 2016 - Utrecht" />
    <meta property="og:description" content="Op 12 mei 2016 vindt de volgende editie van DrupalJam plaats, opnieuw in De Fabrique in Utrecht. Het sfeervolle industriële staat opnieuw decor voor hét Drupal congres van de lage landen. Met een geweldig programma op een fantastische locatie is DrupalJam dé gelegenheid om te netwerken en kennis te delen." />
    <meta property="og:image" content="http://drupaljam.nl<%= image_path('drupaljam_banner.jpg') %>" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "DrupalJam 2016" %></title>

    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto+Slab:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :sponsorlogos %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <div class="footer-wrapper">
      <section class="footer"><div class="section-inner">
        <span class="sdn"></span>

        <p>
          DrupalJam wordt georganiseerd door 
          <a href="http://stichtingdrupal.nl/" target="_blank">Stichting Drupal Nederland</a>
          en een
          <%= link_to 'team van vrijwilligers', '/colofon.html' %>
          uit de Nederlandse Drupal gemeenschap.
        </p>

        <p class="social">
          <a href="https://www.facebook.com/groups/drupaljam/" class="facebook" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a> 
          <a href="https://twitter.com/DrupalJam" class="twitter" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
        </p>
      </div></section>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
    <%= javascript_include_tag :all %>
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-60516992-1','auto');ga('send','pageview');
    </script>
  </body>
</html>
