---
title: DrupalJam 2016
---

<div class="header-wrapper">
  <section class="header">
    <div class="logo">
      <img src="<%= image_path('logo-portrait.svg') %>" />
    </div>

    <div class="header-text">
      <p>Hét Drupal evenement van de Lage Landen<br />12&#8209;5&#8209;2016 &mdash; De Fabrique, Utrecht</p>
      <p class="wide">Op 12 mei 2016 vindt de volgende editie van DrupalJam plaats, opnieuw in De Fabrique in Utrecht. Het sfeervolle industriële staat opnieuw decor voor hét Drupal congres van de lage landen. Met een geweldig programma op een fantastische locatie is DrupalJam dé gelegenheid om te netwerken, kennis te delen en als bedrijf te verbinden met het populaire CMS Drupal.</p>
    </div>

    <div class="brochure">
      <p>Doe uw bijdrage aan een onvergetelijke DrupalJam waar opnieuw een geweldig programma en een fantastische locatie Drupal stevig op de kaart zet. Download de sponsorbrochure en doe mee!</p>
      <p><a href="<%= url_for('Sponsorbrochure DrupalJam 2016 - v1.0.pdf') %>" class="button" target="_blank">Sponsorbrochure downloaden</a></p>
    </div>
  </section>
</div>

<div class="content-wrapper content-wrapper-light">
  <section class="content">
    <%= partial 'shared/sponsors', locals: {sponsor_type: 'platinum' } %>
  </section>
</div>

<div class="content-wrapper content-wrapper-dark">
  <section class="content">
    <h1>Keynote sprekers</h1>
    
    <div class="speakers">
      <div class="speaker">
        <div class="image"><img src="<%= url_for('images/speakers/eleanor.jpg') %>" /></div>
        <div class="info">
          <h2>Eleanor Saitta</h2>
          <p>Eleanor Saitta is a hacker, designer, artist, writer, and barbarian. Her focuses include the seamless integration of technology into the lived experience, the humanity of objects and the built environment, and systemic resilience and conviviality.</p>
        </div>
      </div>

      <div class="speaker">
        <div class="image"><img src="<%= url_for('images/speakers/boris.jpg') %>" /></div>
        <div class="info">
          <h2>Boris Veldhuijzen van Zanten</h2>
          <p>Boris Veldhuijzen van Zanten is entrepreneur and co-founder of The Next Web. Boris’ background as a successful serial entrepreneur, artist and professional juggler endow him with an interesting combination of technology know-how and creativity.</p>
        </div>
      </div>
    </div>

    <div class="content-inner-center">

      <h1>Zelf spreken op DrupalJam 2016</h1>

      <p>Wil je zelf ook spreken op DrupalJam 2016? Meld je dan aan als spreker. Bij het samenstellen van het programma nemen we je aanmelding mee.</p>

      <p><a href="https://docs.google.com/forms/d/1s5srX8WtM8nrBBQ-3WGIGT3ns68M6FAZ4QIFjy6Btm0/viewform" target="_blank" class="button">Aanmelden</a></p>
    </div>

  </section>
</div>

<div class="content-wrapper content-wrapper-light">
  <section class="content">
    <%= partial 'shared/sponsors', locals: {sponsor_type: 'gold' } %>
    <%= partial 'shared/sponsors', locals: {sponsor_type: 'silver' } %>
  </section>
</div>

<div class="content-wrapper content-wrapper-dark">
  <section class="content">
    <p>
      Vragen of ideëen? Stuur ze naar
      <a href="mailto:drupaljam@stichtingdrupal.nl">drupaljam@stichtingdrupal.nl</a>.
    </p>

    <h2>Op de hoogte blijven</h2>

    <p>
      Wil je op de hoogte gehouden worden van de laatste ontwikkelingen over 
      DrupalJam? Kijk op onze <a href="https://www.facebook.com/groups/drupaljam/" class="facebook" target="_blank">Facebookpagina</a>
      of onze <a href="https://twitter.com/DrupalJam" class="twitter" target="_blank">Twitterpagina</a> of meld je 
      aan voor updates.
    </p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//stichtingdrupal.us6.list-manage.com/subscribe/post?u=f4e0eb5be8d793139a3e15a8b&amp;id=e1f4740f1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
          <label for="mce-EMAIL">E-mailadres *</label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group-inline">
          <div class="mc-field-group">
            <label for="mce-FNAME">Voornaam</label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-LNAME">Achternaam</label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
        </div>
        <div class="mc-field-group">
          <label for="mce-COMPANY">Bedrijfsnaam</label>
          <input type="text" value="" name="COMPANY" class="" id="mce-COMPANY">
        </div>
         <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f4e0eb5be8d793139a3e15a8b_e1f4740f1e" tabindex="-1" value=""></div>
        
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Inschrijven</button>
      </form>
    </div>
  </section>
</div>

<div class="content-wrapper content-wrapper-light">
  <section class="content">
    <p>
      Op 12 mei 2016 vindt de volgende editie van DrupalJam plaats, opnieuw in 
      De Fabrique in Utrecht. Het sfeervolle industriële staat opnieuw decor 
      voor hét Drupal congres van de lage landen. Met een geweldig programma op
      een fantastische locatie is DrupalJam dé gelegenheid om te netwerken,
      kennis te delen en als bedrijf te verbinden met het populaire CMS Drupal.
      Houdt uw mailbox of de website in de gaten, want binnenkort lanceren we de
      mogelijkheden voor het sponsoren van DrupalJam 2016!
    </p>
  </section>
</div>

