---
title: DrupalJam 2016
---

<div class="header-wrapper">
  <section class="header">
    <div class="logo">
      <img src="<%= image_path('logo-portrait.svg') %>" />
    </div>

    <div class="header-text">
      <p class="header-shadow">Hét Drupal evenement van de Lage Landen<br />12 mei 2016 &mdash; De Fabrique, Utrecht</p>
      <p class="buttons">
        <a href="#programma" class="button">Programma</a>
      </p>
      <p class="wide header-shadow">Op 12 mei 2016 vindt de volgende editie van DrupalJam plaats, opnieuw in De Fabrique in Utrecht. Het sfeervolle industriële staat opnieuw decor voor hét Drupal congres van de lage landen. Met een geweldig <a href="#programma" class="in-text">programma</a> op een fantastische locatie is DrupalJam dé gelegenheid om te netwerken, kennis te delen en als bedrijf te verbinden met het populaire CMS Drupal.</p>
      <div class="highlight">
        <p><strong>DrupalJam 2016 is uitverkocht. Er zijn geen tickets meer te koop. Om veiligheidsredenen kunnen we je zonder geldig ticket niet naar binnen laten.</strong></p>
        <p>Als je op de wachtlijst geplaatst wilt worden, stuur dan een mail naar <a href="mailto:drupaljam@stichtingdrupal.nl" class="in-text">drupaljam@stichtingdrupal.nl</a>, dan noteren we je naam en krijg je bericht wanneer er nog een kaart vrijkomt.</p>
      </div>
    </div>
  </section>
</div>

<div class="content-wrapper content-wrapper-light">
  <section class="content">
    <%= partial 'shared/sponsors', locals: {sponsor_type: 'platinum' } %>
  </section>
</div>

<div class="content-wrapper content-wrapper-dark">
  <section class="content">
    <h1>Sfeerimpressie van DrupalJam 2015</h1>

    <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/zE7lzJBTdmw" frameborder="0" allowfullscreen></iframe></div>

    <h1>Keynote sprekers</h1>
    
    <div class="speakers">
      <div class="speaker">
        <div class="image"><img src="<%= url_for('images/speakers/eleanor.jpg') %>" /></div>
        <div class="info">
          <h2>Eleanor Saitta</h2>
          <p>Eleanor Saitta is een hacker, designer, artiest, schrijver en zelfbenoemd barbaar. Met een achtergrond als beveiligingsexpert bestudeert Eleanor Saitta complexe systemen en probeert ze te verbeteren.</p>
        </div>
      </div>

      <div class="speaker">
        <div class="image"><img src="<%= url_for('images/speakers/boris.jpg') %>" /></div>
        <div class="info">
          <h2>Boris Veldhuijzen van Zanten</h2>
          <p>Boris Veldjuijzen van Zanten is ondernemer en co-founder van The Next Web. Boris zijn achtergrond als succesvol serieel ondernemer, artiest en profesioneel jongleur begiftigen hem met een interessante combinatie van technologie know-how en creativiteit.</p>
        </div>
      </div>
    </div>

    <h1>Meer sprekers</h1>
    
    <div class="speakers">
      <div class="speaker">
        <div class="image"><img src="<%= url_for('images/speakers/steven.jpg') %>" /></div>
        <div class="info">
          <h2>Steven Pemberton</h2>
          <p>Steven Pemberton is een onderzoeker aan het CWI Amsterdam. Hij doet onderzoek naar interactie en hoe de onderliggende softwarearchitectuur gebruikers kan ondersteunen. Hij is medegrondlegger van de ABC programmeertaal die de basis vormde voor Python.</p>
        </div>
      </div>

      <div class="speaker">
        <div class="image"><img src="<%= url_for('images/speakers/ppk.jpg') %>" /></div>
        <div class="info">
          <h2>Peter Paul Koch</h2>
          <p>Peter-Paul Koch is een mobile platform strategist (niemand weet wat dat betekent; zelfs hij niet), browseronderzoeker, consultant en trainer te Amsterdam. Hij is gespecialiseerd in het mobiele web. Op het Web kent iedereen hem als PPK, en hij spreekt gaarne over zichzelf in de derde persoon.</p>
        </div>
      </div>
    </div>

    <div class="speakers">
      <div class="speaker">
        <div class="image"><img src="<%= url_for('images/speakers/paul.jpg') %>" /></div>
        <div class="info">
          <h2>Paul Suijkerbuijk</h2>
          <p>Paul Suijkerbuijk is de drijvende kracht achter de open data in Nederland. In deze rol is hij er in de afgelopen jaren in geslaagd om een ongekende dynamiek te creëren in de Nederlandse open data gemeenschap, regeringen te overtuigen hun gegevens open te stellen en te delen en de voorwaarden te scheppen om open data een vlucht te laten nemen.
          </p>
        </div>
      </div>

      <div class="speaker">
        <div class="image"><img src="<%= url_for('images/speakers/iskander.jpg') %>" /></div>
        <div class="info">
          <h2>Iskander Smit</h2>
          <p>Iskander Smit werkt bij info.nl, waar hij verantwoordelijk is voor strategie en innovatie. Opgeleid als industrieel ontwerper maar al sinds het begin belandt in digitale media strategie en ontwerp. Iskander richt hij zich momenteel voornamelijk op innovatie binnen Labs, in samenwerking met verschillende onderzoeksinstellingen zoals het Digital Life Center van de Hogeschool van Amsterdam.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="content-wrapper content-wrapper-light">
  <section class="content">
    <%= partial 'shared/sponsors', locals: {sponsor_type: 'gold' } %>
    <%= partial 'shared/sponsors', locals: {sponsor_type: 'silver' } %>
  </section>
</div>

<div class="content-wrapper content-wrapper-dark">
  <section class="content no-max-width">
    <a name="programma"></a>
    <%= partial 'program/program', locals: {program: data.program } %>
  </section>
</div>

<div class="content-wrapper content-wrapper-light">
  <section class="content">
    <p style="margin-bottom: 50px;">
      Op 12 mei 2016 vindt de volgende editie van DrupalJam plaats, opnieuw in 
      De Fabrique in Utrecht. Het sfeervolle industriële staat opnieuw decor 
      voor hét Drupal congres van de lage landen. Met een geweldig programma op
      een fantastische locatie is DrupalJam dé gelegenheid om te netwerken,
      kennis te delen en als bedrijf te verbinden met het populaire CMS Drupal.
      Houdt uw mailbox of de website in de gaten, want binnenkort lanceren we de
      mogelijkheden voor het sponsoren van DrupalJam 2016!
    </p>

    <%= partial 'shared/sponsors', locals: {sponsor_type: 'bronze' } %>
  </section>
</div>

<div class="content-wrapper content-wrapper-dark">
  <section class="content">
    <p>
      Vragen of ideëen? Stuur ze naar
      <a href="mailto:drupaljam@stichtingdrupal.nl">drupaljam@stichtingdrupal.nl</a>.
    </p>

    <h2>Op de hoogte blijven</h2>

    <p>
      Wil je op de hoogte gehouden worden van de laatste ontwikkelingen over 
      DrupalJam? Kijk op onze <a href="https://www.facebook.com/groups/drupaljam/" class="facebook" target="_blank">Facebookpagina</a>
      of onze <a href="https://twitter.com/DrupalJam" class="twitter" target="_blank">Twitterpagina</a> of meld je 
      aan voor updates.
    </p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//stichtingdrupal.us6.list-manage.com/subscribe/post?u=f4e0eb5be8d793139a3e15a8b&amp;id=e1f4740f1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
          <label for="mce-EMAIL">E-mailadres *</label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group-inline">
          <div class="mc-field-group">
            <label for="mce-FNAME">Voornaam</label>
            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-LNAME">Achternaam</label>
            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
          </div>
        </div>
        <div class="mc-field-group">
          <label for="mce-COMPANY">Bedrijfsnaam</label>
          <input type="text" value="" name="COMPANY" class="" id="mce-COMPANY">
        </div>
         <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f4e0eb5be8d793139a3e15a8b_e1f4740f1e" tabindex="-1" value=""></div>
        
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Inschrijven</button>
      </form>
    </div>
  </section>
</div>
